@font-face {
    font-family: 'Progress-Personal-Use';
    src: local('progress'), url(./fonts/PROGRESS-PERSONAL-USE.ttf) format('truetype');
}

@font-face {
    font-family: 'Capture-it';
    src: local('CaptureIt'), url(./fonts/Capture-it.ttf) format('truetype');
}
